/* * * style.css * * */

#loginpage{
	background:url("../img/bg_login.jpg") top center;
	background-position: cover;
}
span{height:30px; width:30px; display:block; position:relative;} 

.demoSpan1{width:30px; height:30px;}

.demoSpan1:before{content:''; height:6px; width:30px; background:#333; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; display:block; position:absolute; top:4px; left:0; box-shadow:0 12px 0 #333, 0 24px 0 #333;-webkit-box-shadow:0 12px 0 #333, 0 24px 0 #333;-moz-box-shadow:0 12px 0 #333, 0 24px 0 #333; }
